<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183454886902-ja88ujgfvcnh954sihoak3r040pbnfu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183454886902-ja88ujgfvcnh954sihoak3r040pbnfu5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183454886902-fmot0fqelc1jfr3j6963i4pg8sp1qpaa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuiPBW_m5RzDfG8cS8hBD64iEmfUwkU5I</string>
	<key>GCM_SENDER_ID</key>
	<string>183454886902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.HabitLink</string>
	<key>PROJECT_ID</key>
	<string>habitlink-3cbcc</string>
	<key>STORAGE_BUCKET</key>
	<string>habitlink-3cbcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183454886902:ios:322d68ab3c444c939535d7</string>
</dict>
</plist>